<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text"
      name="title"
      [ngModel]="post?.title"
      required
      placeholder="Post Title"
      #title='ngModel'>
      <mat-error *ngIf="title.invalid">Please entered the post title!!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4"
      name="Content"
      [ngModel]="post?.Content"
      required
      placeholder="Post Content"
      #Content="ngModel"></textarea>
      <mat-error *ngIf="Content.invalid">Please entered some Content!!!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
